<template>
    <div class="container">
    
        <div class="row mt-5" >
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
              

                <div class="card-tools">
                <p class="_title0">
            Role Manangement
             <Select v-model="data.id"  placeholder="Select admin type" style="width:300px" @on-change="changeAdmin">
                <Option :value="r.id" v-for="(r, i) in roles" :key="i" v-if="roles.length">{{r.roleName}}</Option>
             </Select>
          </p>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                <th>Resource name</th>
                <th>Read</th>
                <th>Write</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>


                 <tr v-for="(r, i) in resources" :key="i">
                <td>{{r.resourceName}}</td>
                <td> <input type="checkbox" v-model="r.read"></td>
                <td> <input type="checkbox" v-model="r.write"></td>
                <td> <input type="checkbox" v-model="r.update"></td>
                <td> <input type="checkbox" v-model="r.delete"></td>
                
              </tr>
              <!-- ITEMS -->
              <div class="center_button">
                  <Button type="primary" :loading="isSending" :disabled="isSending" @click="assignRoles">Assign</Button>
              </div>
                </tbody></table>
              </div>
              <!-- /.card-body -->
             
            </div>
            <!-- /.card -->
          </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
    return {
        data: {
        id: null
      },
      isSending : false,
     roles: [],
     resources: [
          {resourceName: 'Users', read: false, write: false, update: false, delete: false, name: 'users'},
          {resourceName: 'Profile', read: false, write: false, update: false, delete: false, name: 'profile'},
          {resourceName: 'Role', read: false, write: false, update: false, delete: false, name: 'role'},
          {resourceName: 'Assign Role', read: false, write: false, update: false, delete: false, name: 'assignRole'},
          {resourceName: 'Home', read: false, write: false, update: false, delete: false, name: 'home'},
 ],
     defaultResourcesPermission: [
         {resourceName: 'Users', read: false, write: false, update: false, delete: false, name: 'users'},
          {resourceName: 'Profile', read: false, write: false, update: false, delete: false, name: 'profile'},
          {resourceName: 'Role', read: false, write: false, update: false, delete: false, name: 'role'},
          {resourceName: 'Assign Role', read: false, write: false, update: false, delete: false, name: 'assignRole'},
          {resourceName: 'Home', read: false, write: false, update: false, delete: false, name: 'home'},
      ],
    };
  },
        methods: {

      loadRoles(){
               
     // axios.get("api/role").then(({ data }) => (this.roles = data));
                  axios.get("api/role").then(response => {
                                this.roles = response.data;
                                if(response.data.length){
                             this.data.id = response.data[0].id
                             }
                             if(response.data[0].permission){
            this.resources = JSON.parse(response.data[0].permission)
        }
                            });
                },   
     assignRoles(){
         this.$Progress.start();
        let res = JSON.stringify(this.resources);
        // let res="hello";
                axios.post('api/assignRole/'+res+ this.data.id)
                .then(()=>{   
                     console.log(this.data.id);
                     swal.fire(
                        'Updated!',
                        'Permissions has been assigned.',
                        'success'
                        );
                   let index = this.roles.findIndex(role => role.id ==  this.data.id)
            this.roles[index].permission = res     
                   this.$Progress.finish();
                    window.location.reload();
                })
                .catch(()=>{
                console.log(res)
                })
       
     },
     changeAdmin(){
               
    // this.$alert( this.data.id);

    //console.log( this.data.id)
    
      let index = this.roles.findIndex(role => role.id ==  this.data.id)
    let permission = this.roles[index].permission
//console.log(permission);
      if(!permission){
           this.resources = this.defaultResourcesPermission
     }else{
       this.resources = JSON.parse(permission)
    }
     }
  },
        created() {
            
           this.loadRoles();         
        
        }
    }
</script>
