<template>
    <div class="container">
     <!--   <div class="row mt-5" v-if="$gate.isAdminOrAuthor()">-->
        <div class="row mt-5" >
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Roles Table</h3>

                <div class="card-tools">
                    <button class="btn btn-success" v-if="isWritePermitted" @click="newModal">Add New <i class="fas fa-user-plus fa-fw"></i></button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                  <!--        <th>Email</th>
                        <th>Type</th>
                        <th>Registered At</th>-->
                        <th>Modify</th>
                  </tr>


                  <tr v-for="role in roles" :key="role.id">

                    <td>{{role.id}}</td>
                    <td>{{role.roleName}}</td>
                  <!--    <td>{{role.email}}</td>
                    <td>{{role.type | upText}}</td>
                    <td>{{role.created_at | myDate}}</td>-->

                    <td>
                        <a href="#"  v-if="isUpdatePermitted" @click="editModal(role)">
                            <i class="fa fa-edit blue"></i>
                        </a>
                        /
                        <a href="#"   v-if="isDeletePermitted" @click="deleteRole(role.id)">
                            <i class="fa fa-trash red"></i>
                        </a>

                    </td>
                  </tr>
                </tbody></table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <!--  <pagination :data="roles" @pagination-change-page="getResults"></pagination>-->
              </div>
            </div>
            <!-- /.card -->
          </div>
        </div>

       <!--   <div v-if="!$gate.isAdminOrAuthor()">
            <not-found></not-found>
        </div> -->

    <!-- Modal -->
            <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" v-show="!editmode" id="addNewLabel">Add New</h5>
                    <h5 class="modal-title" v-show="editmode" id="addNewLabel">Update Role's Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form @submit.prevent="editmode ? updateRole() : createRole()">
                <div class="modal-body">
                     <div class="form-group">
                        <input v-model="form.roleName" type="text" name="roleName"
                            placeholder=" Role Name"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('roleName') }">
                        <has-error :form="form" field="roleName"></has-error>
                    </div>

                <!--     <div class="form-group">
                        <input v-model="form.email" type="email" name="email"
                            placeholder="Email Address"
                            class="form-control" :class="{ 'is-invalid': form.errors.has('email') }">
                        <has-error :form="form" field="email"></has-error>
                    </div>

                     <div class="form-group">
                        <textarea v-model="form.bio" name="bio" id="bio"
                        placeholder="Short bio for role (Optional)"
                        class="form-control" :class="{ 'is-invalid': form.errors.has('bio') }"></textarea>
                        <has-error :form="form" field="bio"></has-error>
                    </div>


                    <div class="form-group">
                        <select name="type" v-model="form.type" id="type" class="form-control" :class="{ 'is-invalid': form.errors.has('type') }">
                            <option value="">Select Role type</option>
                            <option value="admin">Admin</option>
                            <option value="user">Standard Role</option>
                            <option value="author">Author</option>
                        </select>
                        <has-error :form="form" field="type"></has-error>
                    </div>

                    <div class="form-group">
                        <input v-model="form.password" type="password" name="password" id="password"
placeholder="Password"                        
class="form-control" :class="{ 'is-invalid': form.errors.has('password') }">
                        <has-error :form="form" field="password"></has-error>
                    </div>
                        -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                    <button v-show="!editmode" type="submit" class="btn btn-primary">Create</button>
                </div>

                </form>

                </div>
            </div>
            </div>
    </div>



</template>

<script>
    export default {
        data() {
            return {
                editmode: false,
                roles : {},
                form: new Form({
                    id:'',
                    roleName : ''
              
                    
                })
            }
        },
        methods: {
            
            updateRole(){
                this.$Progress.start();
                // console.log('Editing data');
                this.form.put('api/role/'+this.form.id)
                .then(() => {
                    // success
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide');
                     swal.fire(
                        'Updated!',
                        'Information has been updated.',
                        'success'
                        )
                    this.$Progress.finish();
                         
                })
                .catch(() => {
                    this.$Progress.fail();
                });
            },
            editModal(role){
                this.editmode = true;
                this.form.reset();
                $('#addNew').modal('show');
                this.form.fill(role);
            },
            newModal(){
                this.editmode = false;
                this.form.reset();
                $('#addNew').modal('show');
            },
            deleteRole(id){
                swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        // Send request to the server
                         if (result.value) {
                                this.form.delete('api/role/'+id).then(()=>{
                                        swal.fire(
                                        'Deleted!',
                                        'Your file has been deleted.',
                                        'success'
                                        )
                                    Fire.$emit('AfterCreate');
                                }).catch(()=> {
                                    swal.fire("Failed!", "There was something wrong.", "warning");
                                });
                         }
                    })
            },
            loadRoles(){
               
                    axios.get("api/role").then(({ data }) => (this.roles = data));
               
            },
            createRole(){
                this.$Progress.start();
                this.form.post('api/role')
                .then(()=>{
                    Fire.$emit('AfterCreate');
                    $('#addNew').modal('hide')
                    toast.fire({
                        type: 'success',
                        title: 'Role Created in successfully'
                        })
                    this.$Progress.finish();
                })
                .catch(()=>{
                })
            }
        },
        created() {
            
           this.loadRoles();
           Fire.$on('AfterCreate',() => {
               this.loadRoles();
           });
        //    setInterval(() => this.loadRoles(), 3000);
        }
    }
</script>
